# The current environment dev/stage/prod
bioportal.environment=dev

# App name
app.name=${ant.project.name}

# Web directory
web.dir=WebRoot

# Source directory
src.dir=src/java

# Path to store resources (cvs downloads, ontologies, test files etc.)
# outside of the project structure
bioportal.resource.path=/apps/bmir.apps/bioportal_resources

# App server properties
appserver.home=/apps/Tomcat5.5
appserver.lib=${appserver.home}/common/lib
appserver.logs=${appserver.home}/logs
deploy.path=${appserver.home}/webapps
#appserver.home=/apps/jboss-4.0.5.GA
#appserver.lib=${appserver.home}/server/default/lib
#appserver.logs=${appserver.home}/server/default/log
#deploy.path=${appserver.home}/server/default/deploy

# Open ID return url
openId.return.url=http://localhost:8080/bioportal/openIdAuthRes

# Path to static resources such as XSLT files and OWL includes
bioportal.static.resource.path=${deploy.path}/${app.name}/WEB-INF/resources

# XSLT directory path
bioportal.xslt.path=${bioportal.static.resource.path}/xslt

# Metadata includes path
bioportal.metadata.includes.path=${bioportal.static.resource.path}/metadata

# OBO Repositories config path
obo.repositories.config.filepath=${bioportal.static.resource.path}/config/obo_repository.xml

# Session properties
#
# Total timeout = .session.timeout * .session.numcontainers
#
# Timeout per "bucket" for inactive sessions (in milliseconds)
bioportal.session.timeout=1800000
# Number of "buckets" to allocate for session storage
bioportal.session.numcontainers=11

# Search properties
# Default maximum number of results
bioportal.search.defmaxnumhits=1000
bioportal.search.indexmergefactor=10
bioportal.search.indexmaxmergedocs=2147483647

#Search index path
bioportal.search.indexpath=${bioportal.resource.path}/searchindex
bioportal.search.indexbackuppath=${bioportal.search.indexpath}/backup

# Get all concepts service properties
# Maximum number of concepts per page
bioportal.allconcepts.maxpagesize=5000

# Paginatable lists cache properties
#
# Total timeout = .cache.timeout * .cache.numcontainers
#
# Timeout per "bucket" for inactive paginatable lists (in milliseconds)
bioportal.paginatable.cache.timeout=3600000
# Number of "buckets" to allocate for paginatable lists storage
bioportal.paginatable.cache.numcontainers=5

# OBS Rest Base URL
obs.rest.base.url=http://ncbo-obs-dev1:8080/obs_hibernate

# OBO Pull Scheduler properties
# Enable/Disable scheduler service flag
obo.pull.scheduler.enabled=false
# Scheduler cron expression
# Fire at 02:30am every day: 0 30 2 * * ? *
obo.pull.scheduler.cronexpression=0 30 2 * * ? *

# Ontology Parse Scheduler properties
# Enable/Disable scheduler service flag
ontology.parse.scheduler.enabled=false
# Scheduler cron expression
# Fire once every hour, at 30 past the hour: 0 30 * * * ? *
ontology.parse.scheduler.cronexpression=0 30 * * * ? *

# Logging properties
bioportal.app.log.deflevel=ERROR
bioportal.app.log.bioportallevel=DEBUG
bioportal.app.logfilepath=${appserver.logs}/bioportal.log
# Max log file size (10MB)
bioportal.app.maxlogfilesize=10000KB
# How many backup log files to keep
bioportal.app.maxlogbackupindex=15

# SMTP Server
bioportal.smtp.server=yoursmtpserver

# Data Source properties (for Prod only)
bioportal.datasource.name=jdbc/BioPortalDataSource
bioportal.datasource=java:comp/env/${bioportal.datasource.name}
bioportal.datasource.removeabandoned=true
bioportal.datasource.removeabandonedtimeout=60
bioportal.datasource.logabandoned=true

# JDBC connection that should only be used during local 
# development. Local development can also be done using a 
# datasource simply by configuring a Tomcat datasource.
# (for Dev only)
bioportal.jdbc.url=jdbc:mysql://localhost:3306/bioportal
bioportal.jdbc.driver=com.mysql.jdbc.Driver
bioportal.jdbc.username=yourbioportaldbuser
bioportal.jdbc.password=yourbioportaldbpassword
# Maximum number of dB connections in pool. Make sure you
# configure your mysqld max_connections large enough to handle
# all of your db connections. Set to 0 for no limit.
bioportal.jdbc.maxactive=100
# Maximum number of idle dB connections to retain in pool.
# Set to -1 for no limit.  See also the DBCP documentation on this
# and the minEvictableIdleTimeMillis configuration parameter.
bioportal.jdbc.maxidle=30
# Maximum time to wait for a dB connection to become available
# in ms, in this example 10 seconds. An Exception is thrown if
# this timeout is exceeded.  Set to -1 to wait indefinitely.
bioportal.jdbc.maxwait=10000

# Encryption key for string encoding/decoding
bioportal.encryption.key=yourencryptionkey

# Users by username query used for authentication
bioportal.usersbyusername.query=SELECT username, password, 1 AS enabled FROM ncbo_user WHERE username = ?

# Application by application id query used for authentication
bioportal.applicationbyapplicationid.query=SELECT application_id, application_name FROM ncbo_admin_application WHERE application_id = ?

# Authorities by username query used for authorization
bioportal.authoritiesbyusername.query=SELECT u.username AS username, r.name AS authority FROM ncbo_user u, ncbo_user_role ur, ncbo_l_role r WHERE u.id = ur.user_id AND ur.role_id = r.id AND u.username = ?

# Message bundle
bioportal.messagebundle.name=message
bioportal.messagebundle.package=org.ncbo.stanford.resource.generated.${bioportal.messagebundle.name}
bioportal.messagebundle.path=${src.dir}/org/ncbo/stanford/resource/generated

# Uploaded Files
bioportal.ontology.filepath=${bioportal.resource.path}/uploads

# RDF directory for RDF/XML file storage and download
bioportal.rdfdir=${bioportal.resource.path}/rdf

# Diff Files
bioportal.diff.filepath=${bioportal.resource.path}/diffs

# Temporary directory for file submission and processing
bioportal.tempdir=${bioportal.resource.path}/tmp

# Max upload file size
bioportal.upload.maxfilesize=10485760

# Max number of traversed concepts for operations that do concept traversal
bioportal.traversedConceptLimit=10000

################## Protege Configuration ##################

# db connection
protege.jdbc.url=jdbc:mysql://localhost/bioportal_protege?useUnicode=true&amp;characterEncoding=UTF-8&amp;holdResultsOpenOverStatementClose=true
protege.jdbc.driver=com.mysql.jdbc.Driver
protege.jdbc.username=yourprotegedbuser
protege.jdbc.password=yourprotegedbpassword

# Protege knowledgebase caching settings
#
# Total timeout = .cache.timeout * .cache.numcontainers
#
# Timeout per "bucket" for inactive knowledgebases (in milliseconds)
protege.knowledgebase.cache.timeout=21600000
# Number of "buckets" to allocate for knowledgebase storage
protege.knowledgebase.cache.numcontainers=4
# Maximum number of knowledgebases  to allow to be cached
protege.knowledgebase.cache.maxobjects=50

# table name prefix/suffix
protege.table.prefix=tbl_
protege.table.suffix=
metadata.user.inst.prefix=usr_
metadata.user.inst.suffix=
metadata.ontologydomain.inst.prefix=cat_
metadata.ontologydomain.inst.suffix=
metadata.ontologygroup.inst.prefix=group_
metadata.ontologygroup.inst.suffix=
metadata.ontology.inst.prefix=ont_
metadata.ontology.inst.suffix=
metadata.ontologyview.inst.prefix=ont_view_
metadata.ontologyview.inst.suffix=
metadata.virtualontology.inst.prefix=vrtl_ont_
metadata.virtualontology.inst.suffix=
metadata.virtualview.inst.prefix=vrtl_view_
metadata.virtualview.inst.suffix=

# threshold in bytes. 157286400 = 150Mb
protege.big.file.threshold=157286400

################## LexGrid Configuration ##################

# LexGrid configuration directory
# In order for LexGrid to recognize the configuration file, 
# it needs to reside on the same level or above the "lib"
# directory and encased into "resources/config" directory
# structure
lexgrid.config.path=${bioportal.static.resource.path}/config
#
# The lexgrid.base.path variable is the location that 
# LexGrid will use beginning for resolving 
# any relative paths in its configuration file.  
lexgrid.base.path=
#
# The location of the folder that contains your SQL drivers and 
# extensions.  This folder and its subfolders will be scanned for 
# .jar files to add to the classpath.
#
# This folder must also contain either the lbRuntime.jar file, or 
# the lgUtility.jar file (from the runtime-components folder)
#
# This path can be relative to the location of lexgrid.base.path 
# or absolute. You may put more than one folder here by separating 
# the folders with a ';'.
lexgrid.jarfile.location=../../lib
#
# The location of the file that will store information about
# all loaded terminologies.  
# This path can be relative to the location of 
# lexgrid.base.path or absolute.
lexgrid.resource.path=${bioportal.resource.path}/lexgrid
lexgrid.registry.path=${lexgrid.resource.path}/registry
lexgrid.registry.file=${lexgrid.registry.path}/registry.xml
#
# The folder that will hold all of the generated system indexes.  
# This path can be relative to the location of lexgrid.base.path
# or absolute.
lexgrid.index.location=${lexgrid.resource.path}/lbIndex
#
# The maximum number of SQL connections to open (and pool) per 
# database. 
lexgrid.max.connections.per.db=50
#
# Size of the Dynamic Cache (this is used to cache frequently 
# accessed information)
lexgrid.cache.size=500
#
# Length of idle time before invalidating Iterators (in minutes)
lexgrid.iterator.idle.time=5
#
# Max number of results that can be returned at once by
# any query operation.  This corresponds to the maximum size
# of the lists that are returned by Resolve calls.
#
# NOTE: This does not affect the total number of results
# that can be returned by an iterator, just the size that
# can be returned per 'next' call.
lexgrid.max.result.size=10000
#
# When lexgrid.single.db.mode is set to false, a new database will 
# be created for each loaded terminology.  When 
# lexgrid.single.db.mode is set to true, a new set of tables (with 
# a unique prefix) will be created for each loaded terminology.  
# All terminologies will be held inside the same physical database.
#
# NOTE: This value should typically not be changed once content has
# been loaded.  If a change is required, it is recommended that all
# coding schemes be removed and the resource registry (xml file in
# the same directory as this config) be deleted prior to the change.
lexgrid.single.db.mode=true
#
# This is the address of the database server that will be used
# when you load a new terminology through the LexBIG API.  
#
######  READ THE NEXT LINES CAREFULLY!  ######
# If you have set 'lexgrid.single.db.mode' to 'true', then this 
# variable _should_ contain the database name.
#
# If you have set 'lexgrid.single.db.mode' to 'false', then this 
# variable _should NOT_ contain the database name. Instead, it 
# should end at the end of the server address plus whatever 
# character seperates the server name from the database name. 
#
# NOTE: Changes to the URL will only affect newly loaded content.
# The URL's for content that is already loaded are stored in the 
# registry.xml file.
#
# Examples for 'lexgrid.single.db.mode=false'
# lexgrid.db.url=jdbc:postgresql://bmidev/
# lexgrid.db.url=jdbc:hsqldb:file:C:/temp/
# lexgrid.db.url=jdbc:odbc:Driver={Microsoft Access Driver (*.mdb)};DBQ=C:/temp/
#
# Examples for 'lexgrid.single.db.mode=true'
# lexgrid.db.url=jdbc:mysql://bmidev/LexGrid
# lexgrid.db.url=jdbc:postgresql://bmidev/LexGrid
# lexgrid.db.url=jdbc:hsqldb:file:C:/temp/LexGrid
# lexgrid.db.url=jdbc:odbc:Driver={Microsoft Access Driver (*.mdb)};DBQ=C:/temp/LexBIG.mdb
lexgrid.db.url=jdbc:mysql://localhost/bioportal_lexgrid
#
# The prefix to use on created tables or database names.  
# If 'lexgrid.single.db.mode=true', this prefix will be used on 
# the created tables.
# If 'lexgrid.single.db.mode=false', this prefix will be used on 
# the created databases.
#
# WARNING - If you are using Oracle, this is not supported (because 
# of length constraints on oracle table names.)  You must leave 
# this value blank. On databases other than Oracle, there should be 
# room for a reasonable (< 10) amount of characters.
#
# NOTE: This value MUST BE UNIQUE for each LexBIG runtime
# that utilizes the same database host.
# NOTE: Do not use dashes '-' in the db_prefix value.
# Recommended characters are alphanumeric (a-z, 0-9) and
# underscore '_'.
# NOTE: This variable should typically not be changed after content 
# has been loaded.
lexgrid.db.prefix=
#
# Optional parameters to append to the end of the database
# connection string.  Access to some database environments
# may require additional values to be passed in.
# NOTE: Changes to this variable will only affect newly loaded 
# content.  It will not be applied to content that has already 
# been loaded.
lexgrid.db.param=
#
# The database driver.
# NOTE: This should typically not be changed after content has 
# been loaded.
#DB_DRIVER=org.postgresql.Driver
#DB_DRIVER=org.hsqldb.jdbcDriver
#DB_DRIVER=sun.jdbc.odbc.JdbcOdbcDriver
lexgrid.db.driver=${bioportal.jdbc.driver}
#
# The database username and password.
#
# NOTE: If lexgrid.single.db.mode is set to false, the specified 
# account MUST HAVE PERMISSION TO CREATE AND REMOVE DATABASES in 
# the database environment.
# If lexgrid.single.db.mode is set to true, the specified account 
# MUST HAVE permission to create and remove tables, indexes, and 
# foreign keys in the database environment.
lexgrid.db.user=yourlexgriddbuser
lexgrid.db.password=yourlexgriddbpassword
#
############# Logging Configuration
# Location of the log files. This path can be relative to the 
# location of lexgrid.base.path or absolute.  This name should 
# be a directory, which will be created if not present.
lexgrid.log.file.location=${appserver.logs}/lexgrid
#
# API Call Logging - enabling API call logging will cause every 
# method call to be printed to the log file.
lexgrid.api.log.enabled=false
#
# Enabling Debug will cause much more information to be
# written to the log files, but will impact runtime performance.
lexgrid.debug.enabled=false
#
# Indicates when a new log file should be started.
# This can be a one of the following:
# - A string indicating the rollover time period ('daily', 
#   'weekly', or 'monthly').
# - A number such as '10', which will be read as change log files 
#   after the file size reaches 10 MB.
lexgrid.log.change=5
#
# Controls automated cleanup of log files.
# If 'lexgrid.log.change' is set to 'daily', 'weekly', or 
# 'monthly', this variable instructs the service to remove log 
# files that have not been written to in X days (note: the unit 
# is treated as days regardless of the lexgrid.log.change value.  
# In this case, cleanup will only occur on restart of the JVM.
#
# If 'lexgrid.log.change' is set to a number, this is the number 
# of old log files that will be kept.
lexgrid.erase.logs.after=5
#
# Controls e-mail notification of errors and warnings (true or 
# false). NOTE: E-mail is rate-limited, so frequent or repetitive 
# errors will not flood this address.
lexgrid.email.errors=false
#
# The SMTP server to use for sending the e-mail.
# NOTE: Only applicable if lexgrid.email.errors is set to 'true'.
lexgrid.smtp.server=${bioportal.smtp.server}
#
# The address(es) to send the e-mail to.
# This can be a single address or comma-separated list.
# NOTE: Only applicable if lexgrid.email.errors is set to 'true'.
lexgrid.email.to=youremail@yourserver.edu

# 
# NCBO Test Fixture setup information.  Make adjustments to match your database
# connection configuration.
test.db.url=jdbc:mysql://localhost:3306
test.jdbc.driver=${bioportal.jdbc.driver}

test.db.user=root
test.db.password=yourrootpassword
test.sql.dir=db/sql

############# Notes Configuration
notes.jdbc.url=jdbc:mysql://localhost/bioportal_notes
notes.jdbc.driver=com.mysql.jdbc.Driver
notes.jdbc.username=yourprotegedbuser
notes.jdbc.password=yourprotegedbpassword
bioportal.notes.changes.includes.path=${bioportal.static.resource.path}/metadata/notes/changes.owl

#
# For Notification Service
#
notification.email.from=youremail@yourserver.edu