<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/util 
       http://www.springframework.org/schema/util/spring-util-2.5.xsd
       http://www.springframework.org/schema/tx 
       http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
       http://www.springframework.org/schema/aop 
       http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">

	<!-- Wire all restlets -->
	<bean id="authenticationRestlet"
		class="org.ncbo.stanford.view.rest.authentication.AuthenticationRestlet">
		<property name="authenticationManager">
			<ref bean="authenticationManager" />
		</property>
		<property name="sessionService">
			<ref bean="sessionService" />
		</property>
		<property name="xmlSerializationService">
			<ref bean="xmlSerializationService" />
		</property>
		<property name="userService">
			<ref bean="userService" />
		</property>
	</bean>

	<bean id="ontologyRestlet"
		class="org.ncbo.stanford.view.rest.restlet.ontology.OntologyRestlet">
		<property name="ontologyService">
			<ref bean="ontologyService" />
		</property>
		<property name="xmlSerializationService">
			<ref bean="xmlSerializationService" />
		</property>
	</bean>
	<bean id="virtualRestlet"
		class="org.ncbo.stanford.view.rest.restlet.ontology.VirtualUriRestlet">
		<property name="ontologyService">
			<ref bean="ontologyService" />
		</property>
		<property name="conceptService">
			<ref bean="conceptService" />
		</property>
		<property name="xmlSerializationService">
			<ref bean="xmlSerializationService" />
		</property>
	</bean>
	
	<bean id="metaDataSearchRestlet"
		class="org.ncbo.stanford.view.rest.restlet.search.MetaDataSearchRestlet">
		<property name="ontologyService">
			<ref bean="ontologyService" />
		</property>
		<property name="xmlSerializationService">
			<ref bean="xmlSerializationService" />
		</property>
	</bean>
	
	<bean id="conceptRestlet"
		class="org.ncbo.stanford.view.rest.restlet.concept.ConceptRestlet">
		<property name="conceptService">
			<ref bean="conceptService" />
		</property>
		<property name="xmlSerializationService">
			<ref bean="xmlSerializationService" />
		</property>
	</bean>
	
	<bean id="conceptSearchRestlet"
		class="org.ncbo.stanford.view.rest.restlet.search.ConceptSearchRestlet">
		<property name="conceptService">
			<ref bean="conceptService" />
		</property>
		<property name="xmlSerializationService">
			<ref bean="xmlSerializationService" />
		</property>
	</bean>	
	<bean id="propertySearchRestlet"
		class="org.ncbo.stanford.view.rest.restlet.search.PropertySearchRestlet">
		<property name="conceptService">
			<ref bean="conceptService" />
		</property>
		<property name="xmlSerializationService">
			<ref bean="xmlSerializationService" />
		</property>
	</bean>
	
	
	<bean id="pathRestlet"
		class="org.ncbo.stanford.view.rest.restlet.path.PathRestlet">
		<property name="conceptService">
			<ref bean="conceptService" />
		</property>
		<property name="xmlSerializationService">
			<ref bean="xmlSerializationService" />
		</property>
	</bean>
	
	<bean id="ontologiesRestlet"
		class="org.ncbo.stanford.view.rest.restlet.ontology.OntologiesRestlet">
		<property name="ontologyService">
			<ref bean="ontologyService" />
		</property>
		<property name="xmlSerializationService">
			<ref bean="xmlSerializationService" />
		</property>
	</bean>

	<bean id="ontologiesActiveRestlet"
		class="org.ncbo.stanford.view.rest.restlet.ontology.OntologiesActiveRestlet">
		<property name="ontologyService">
			<ref bean="ontologyService" />
		</property>
		<property name="xmlSerializationService">
			<ref bean="xmlSerializationService" />
		</property>
	</bean>

	<bean id="ontologyVersionsRestlet"
		class="org.ncbo.stanford.view.rest.restlet.ontology.OntologyVersionsRestlet">
		<property name="ontologyService">
			<ref bean="ontologyService" />
		</property>
		<property name="xmlSerializationService">
			<ref bean="xmlSerializationService" />
		</property>
	</bean>
	
	<bean id="ontologyParseRestlet"
		class="org.ncbo.stanford.view.rest.restlet.ontology.OntologyParseRestlet">
		<property name="ontologyService">
			<ref bean="ontologyService" />
		</property>
		<property name="ontologyLoadSchedulerService">
			<ref bean="ontologyLoadSchedulerService" />
		</property>
		<property name="xmlSerializationService">
			<ref bean="xmlSerializationService" />
		</property>
	</bean>
	
	<bean id="ontologyParseBatchRestlet"
		class="org.ncbo.stanford.view.rest.restlet.ontology.OntologyParseBatchRestlet">
		<property name="ontologyService">
			<ref bean="ontologyService" />
		</property>
		<property name="ontologyLoadSchedulerService">
			<ref bean="ontologyLoadSchedulerService" />
		</property>
		<property name="xmlSerializationService">
			<ref bean="xmlSerializationService" />
		</property>
	</bean>	
	
	<bean id="ontologyDownloadRestlet"
		class="org.ncbo.stanford.view.rest.restlet.ontology.OntologyDownloadRestlet">
		<property name="ontologyService">
			<ref bean="ontologyService" />
		</property>
		<property name="xmlSerializationService">
			<ref bean="xmlSerializationService" />
		</property>
	</bean>
	
	<bean id="categoriesRestlet"
		class="org.ncbo.stanford.view.rest.restlet.ontology.CategoriesRestlet">
		<property name="ontologyService">
			<ref bean="ontologyService" />
		</property>
		<property name="xmlSerializationService">
			<ref bean="xmlSerializationService" />
		</property>
	</bean>
	
	<bean id="usersRestlet"
		class="org.ncbo.stanford.view.rest.restlet.user.UsersRestlet">
		<property name="userService">
			<ref bean="userService" />
		</property>
		<property name="xmlSerializationService">
			<ref bean="xmlSerializationService" />
		</property>
	</bean>

	<bean id="userRestlet"
		class="org.ncbo.stanford.view.rest.restlet.user.UserRestlet">
		<property name="userService">
			<ref bean="userService" />
		</property>
		<property name="xmlSerializationService">
			<ref bean="xmlSerializationService" />
		</property>
	</bean>
	
	<bean id="userEmailRestlet"
		class="org.ncbo.stanford.view.rest.restlet.user.UserEmailRestlet">
		<property name="userService">
			<ref bean="userService" />
		</property>
		<property name="xmlSerializationService">
			<ref bean="xmlSerializationService" />
		</property>
	</bean>

	<!-- All mappings: -->
	<bean id="restManager"
		class="org.ncbo.stanford.view.rest.base.RestManager">
		<property name="resourceMappings">
			<bean class="java.util.HashMap">
				<constructor-arg>
					<map>
						<entry key="/auth">
							<ref local="authenticationRestlet" />
						</entry>
						<entry key="/ontologies/active/">
							<ref local="ontologiesActiveRestlet" />
						</entry>							
						<entry key="/ontologies">
							<ref local="ontologiesRestlet" />
						</entry>
						<entry key="/ontologies/{ontology}">
							<ref local="ontologyRestlet" />
						</entry>
						<entry key="/ontologies/versions/{ontology}">
							<ref local="ontologyVersionsRestlet" />
						</entry>
						<entry key="/ontologies/parse/{ontology}">
							<ref local="ontologyParseRestlet" />
						</entry>
						<entry key="/ontologies/parsebatch/{ontology_start}/{ontology_end}">
							<ref local="ontologyParseBatchRestlet" />
						</entry>						
						<entry key="/ontologies/download/{ontology}">
							<ref local="ontologyDownloadRestlet" />
						</entry>
						<entry key="/categories">
							<ref local="categoriesRestlet" />
						</entry>
						<entry key="/concepts/{ontology}/{concept}">
							<ref local="conceptRestlet" />
						</entry>
						<entry key="/users">
							<ref local="usersRestlet" />
						</entry>
						<entry key="/users/{user}">
							<ref local="userRestlet" />
						</entry>
						<entry key="/users/email/{email}/">
							<ref local="userEmailRestlet" />
						</entry>
						<entry key="/path/{ontologyVersionId}/{source}/{target}">
							<ref local="pathRestlet" />
						</entry>						
						<entry key="/search/concepts/{query}">
							<ref local="conceptSearchRestlet" />
						</entry>
						<entry key="/search/properties/{query}">
							<ref local="propertySearchRestlet" />
						</entry>
						<entry key="/search/meta/{query}">
							<ref local="metaDataSearchRestlet" />
						</entry>
						<entry key="/virtual/{ontology}">
							<ref local="virtualRestlet" />
						</entry>
						<entry key="/virtual/{ontology}/{concept}">
							<ref local="virtualRestlet" />
						</entry>
						
					</map>
				</constructor-arg>
			</bean>
		</property>
	</bean>
</beans>