<!DOCTYPE aspectj PUBLIC
        "-//AspectJ//DTD//EN" "http://www.eclipse.org/aspectj/dtd/aspectj.dtd">
<aspectj>
    <weaver>
        <include within="org.ncbo.stanford.manager.metadata.impl.OntologyMetadataManagerImpl"/>
        <include within="org.ncbo.stanford.service.loader.scheduler.impl.OntologyLoadSchedulerServiceImpl"/>
    </weaver>

    <aspects>
        <!-- weave in just this aspect -->
        <aspect name="org.ncbo.stanford.aop.ontology.OntologyMetadataAdvice"/>
        <aspect name="org.ncbo.stanford.aop.notification.NotificationAdvice"/>
    </aspects>
</aspectj>