<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/util 
       http://www.springframework.org/schema/util/spring-util-2.5.xsd
       http://www.springframework.org/schema/tx 
       http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
       http://www.springframework.org/schema/aop 
       http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">

	<!-- Wire all restlets -->
	<bean id="abstractBaseRestlet" class="org.ncbo.stanford.view.rest.restlet.AbstractBaseRestlet"
		abstract="true">
		<property name="xmlSerializationService">
			<ref bean="xmlSerializationService" />
		</property>
		<property name="usageLoggingService">
			<ref bean="usageLoggingService" />
		</property>
	</bean>

	<bean id="abstractOntologyBaseRestlet"
		class="org.ncbo.stanford.view.rest.restlet.ontology.AbstractOntologyBaseRestlet"
		abstract="true" parent="abstractBaseRestlet">
		<property name="ontologyService">
			<ref bean="ontologyService" />
		</property>
	</bean>

	<bean id="authenticationRestlet"
		class="org.ncbo.stanford.view.rest.authentication.AuthenticationRestlet"
		parent="abstractBaseRestlet">
		<property name="authenticationManager">
			<ref bean="authenticationManager" />
		</property>
		<property name="sessionService">
			<ref bean="sessionService" />
		</property>
		<property name="userService">
			<ref bean="userService" />
		</property>
	</bean>
	
	<bean id="openIdAuthenticationRestlet"
		class="org.ncbo.stanford.view.rest.authentication.OpenIdAuthenticationRestlet"
		parent="abstractBaseRestlet">
		<property name="returnUrl">
			<ref bean="returnUrl" />
		</property>
	</bean>
	
	<bean id="openIdAuthenticationResponseRestlet"
		class="org.ncbo.stanford.view.rest.authentication.OpenIdAuthenticationResponseRestlet"
		parent="abstractBaseRestlet">
		<property name="sessionService">
			<ref bean="sessionService" />
		</property>
		<property name="ncboUserDAO">
			<ref bean="NcboUserDAO"/>
		</property>
		<property name="applicationDetailsService">
			<ref bean="jdbcApplicationDaoImpl" />
		</property>
	</bean>

	<bean id="ontologyRestlet"
		class="org.ncbo.stanford.view.rest.restlet.ontology.OntologyRestlet"
		parent="abstractOntologyBaseRestlet">
	</bean>

	<bean id="virtualRestlet"
		class="org.ncbo.stanford.view.rest.restlet.ontology.VirtualUriRestlet"
		parent="abstractBaseRestlet">
		<property name="ontologyService">
			<ref bean="ontologyService" />
		</property>
		<property name="conceptService">
			<ref bean="conceptService" />
		</property>
	</bean>

	<bean id="conceptRestlet"
		class="org.ncbo.stanford.view.rest.restlet.concept.ConceptRestlet"
		parent="abstractBaseRestlet">
		<property name="conceptService">
			<ref bean="conceptService" />
		</property>
	</bean>
	
	<bean id="instanceRestlet"
		class="org.ncbo.stanford.view.rest.restlet.instance.InstanceRestlet"
		parent="abstractBaseRestlet">
		<property name="conceptService">
			<ref bean="conceptService" />
		</property>
	</bean>
	
	<bean id="instanceByIdRestlet"
		class="org.ncbo.stanford.view.rest.restlet.instance.InstanceByIdRestlet"
		parent="abstractBaseRestlet">
		<property name="conceptService">
			<ref bean="conceptService" />
		</property>
	</bean>
	
	<bean id="conceptPropertyRestlet"
		class="org.ncbo.stanford.view.rest.restlet.concept.ConceptPropertyRestlet"
		parent="abstractBaseRestlet">
		<property name="conceptPropertyService">
			<ref bean="conceptPropertyService" />
		</property>
	</bean>
	
	<bean id="conceptParentsRestlet"
		class="org.ncbo.stanford.view.rest.restlet.concept.ConceptParentsRestlet"
		parent="abstractBaseRestlet">
		<property name="conceptService">
			<ref bean="conceptService" />
		</property>
	</bean>

	<bean id="conceptParentsVirtualRestlet"
		class="org.ncbo.stanford.view.rest.restlet.concept.ConceptParentsVirtualRestlet"
		parent="abstractBaseRestlet">
		<property name="conceptService">
			<ref bean="conceptService" />
		</property>
	</bean>

	<bean id="conceptChildrenRestlet"
		class="org.ncbo.stanford.view.rest.restlet.concept.ConceptChildrenRestlet"
		parent="abstractBaseRestlet">
		<property name="conceptService">
			<ref bean="conceptService" />
		</property>
	</bean>

	<bean id="conceptChildrenVirtualRestlet"
		class="org.ncbo.stanford.view.rest.restlet.concept.ConceptChildrenVirtualRestlet"
		parent="abstractBaseRestlet">
		<property name="conceptService">
			<ref bean="conceptService" />
		</property>
	</bean>

	<bean id="conceptRootPathRestlet"
		class="org.ncbo.stanford.view.rest.restlet.concept.ConceptRootPathRestlet"
		parent="abstractBaseRestlet">
		<property name="conceptService">
			<ref bean="conceptService" />
		</property>
	</bean>

	<bean id="conceptRootPathVirtualRestlet"
		class="org.ncbo.stanford.view.rest.restlet.concept.ConceptRootPathVirtualRestlet"
		parent="abstractBaseRestlet">
		<property name="conceptService">
			<ref bean="conceptService" />
		</property>
	</bean>

	<bean id="conceptSiblingsRestlet"
		class="org.ncbo.stanford.view.rest.restlet.concept.ConceptSiblingsRestlet"
		parent="abstractBaseRestlet">
		<property name="conceptService">
			<ref bean="conceptService" />
		</property>
	</bean>

	<bean id="conceptSiblingsVirtualRestlet"
		class="org.ncbo.stanford.view.rest.restlet.concept.ConceptSiblingsVirtualRestlet"
		parent="abstractBaseRestlet">
		<property name="conceptService">
			<ref bean="conceptService" />
		</property>
	</bean>

	<bean id="conceptLeavesRestlet"
		class="org.ncbo.stanford.view.rest.restlet.concept.ConceptLeavesRestlet"
		parent="abstractBaseRestlet">
		<property name="conceptService">
			<ref bean="conceptService" />
		</property>
	</bean>

	<bean id="conceptLeavesVirtualRestlet"
		class="org.ncbo.stanford.view.rest.restlet.concept.ConceptLeavesVirtualRestlet"
		parent="abstractBaseRestlet">
		<property name="conceptService">
			<ref bean="conceptService" />
		</property>
	</bean>

	<bean id="queryRestlet" class="org.ncbo.stanford.view.rest.restlet.search.QueryRestlet"
		parent="abstractBaseRestlet">
		<property name="queryService">
			<ref bean="querySearchService" />
		</property>
	</bean>

	<bean id="indexRestlet" class="org.ncbo.stanford.view.rest.restlet.search.IndexRestlet"
		parent="abstractBaseRestlet">
		<property name="indexService">
			<ref bean="indexSearchService" />
		</property>
	</bean>

	<bean id="metadataSearchRestlet"
		class="org.ncbo.stanford.view.rest.restlet.search.MetaDataSearchRestlet"
		parent="abstractBaseRestlet">
		<property name="ontologyService">
			<ref bean="ontologyService" />
		</property>
	</bean>

	<bean id="pathRestlet" class="org.ncbo.stanford.view.rest.restlet.path.PathRestlet"
		parent="abstractBaseRestlet">
		<property name="conceptService">
			<ref bean="conceptService" />
		</property>
	</bean>

	<bean id="ontologiesRestlet"
		class="org.ncbo.stanford.view.rest.restlet.ontology.OntologiesRestlet"
		parent="abstractBaseRestlet">
		<property name="ontologyService">
			<ref bean="ontologyService" />
		</property>
	</bean>

	<bean id="ontologyVersionsRestlet"
		class="org.ncbo.stanford.view.rest.restlet.ontology.OntologyVersionsRestlet"
		parent="abstractOntologyBaseRestlet">
	</bean>

	<bean id="ontologyViewsRestlet"
		class="org.ncbo.stanford.view.rest.restlet.ontology.OntologyViewsRestlet"
		parent="abstractBaseRestlet">
		<property name="ontologyService">
			<ref bean="ontologyService" />
		</property>
	</bean>

	<bean id="ontologiesParseRestlet"
		class="org.ncbo.stanford.view.rest.restlet.ontology.OntologiesParseRestlet"
		parent="abstractBaseRestlet">
		<property name="ontologyLoadSchedulerService">
			<ref bean="ontologyLoadSchedulerService" />
		</property>
	</bean>

	<bean id="ontologyViewListRestlet"
		class="org.ncbo.stanford.view.rest.restlet.ontology.OntologyViewListRestlet"
		parent="abstractOntologyBaseRestlet">
	</bean>

	<bean id="ontologyMetricsRestlet"
		class="org.ncbo.stanford.view.rest.restlet.ontology.OntologyMetricsRestlet"
		parent="abstractOntologyBaseRestlet">
		<property name="metricsService">
			<ref bean="metricsService" />
		</property>
	</bean>

	<bean id="notesRestlet"
		class="org.ncbo.stanford.view.rest.restlet.notes.NotesRestlet"
		parent="abstractOntologyBaseRestlet">
		<property name="notesService">
			<ref bean="notesService" />
		</property>
		<property name="ontologyService">
			<ref bean="ontologyService" />
		</property>
		<property name="conceptService">
			<ref bean="conceptService" />
		</property>
	</bean>

	<bean id="ontologyDownloadRestlet"
		class="org.ncbo.stanford.view.rest.restlet.ontology.OntologyDownloadRestlet"
		parent="abstractOntologyBaseRestlet">
	</bean>
	<!-- Added For rdfDownload -->
	<bean id="rdfDownloadRestlet"
		class="org.ncbo.stanford.view.rest.restlet.rdf.RdfDownloadRestlet"
		parent="abstractOntologyBaseRestlet">
	</bean>
	
	<bean id="diffRestlet" class="org.ncbo.stanford.view.rest.restlet.diff.DiffRestlet"
		parent="abstractBaseRestlet">
		<property name="diffService">
			<ref bean="diffService" />
		</property>
	</bean>

	<bean id="diffDownloadRestlet"
		class="org.ncbo.stanford.view.rest.restlet.diff.DiffDownloadRestlet"
		parent="abstractBaseRestlet">
		<property name="diffService">
			<ref bean="diffService" />
		</property>
	</bean>

	<bean id="categoriesRestlet"
		class="org.ncbo.stanford.view.rest.restlet.ontology.CategoriesRestlet"
		parent="abstractBaseRestlet">
		<property name="ontologyService">
			<ref bean="ontologyService" />
		</property>
	</bean>

	<bean id="groupsRestlet"
		class="org.ncbo.stanford.view.rest.restlet.ontology.GroupsRestlet"
		parent="abstractBaseRestlet">
		<property name="ontologyService">
			<ref bean="ontologyService" />
		</property>
	</bean>

	<bean id="usersRestlet" class="org.ncbo.stanford.view.rest.restlet.user.UsersRestlet"
		parent="abstractBaseRestlet">
		<property name="userService">
			<ref bean="userService" />
		</property>
	</bean>

	<bean id="userRestlet" class="org.ncbo.stanford.view.rest.restlet.user.UserRestlet"
		parent="abstractBaseRestlet">
		<property name="userService">
			<ref bean="userService" />
		</property>
	</bean>

	<bean id="userEmailRestlet"
		class="org.ncbo.stanford.view.rest.restlet.user.UserEmailRestlet"
		parent="abstractBaseRestlet">
		<property name="userService">
			<ref bean="userService" />
		</property>
	</bean>

	<bean id="oboCVSPullRestlet"
		class="org.ncbo.stanford.view.rest.restlet.loader.remote.OBOCVSPullRestlet"
		parent="abstractBaseRestlet">
		<property name="oboCVSPullService">
			<ref bean="oboCVSPullService" />
		</property>
	</bean>

	<bean id="usageLoggingRestlet"
		class="org.ncbo.stanford.view.rest.restlet.logging.UsageLoggingRestlet"
		parent="abstractBaseRestlet">
		<property name="usageLoggingService">
			<ref bean="usageLoggingService" />
		</property>
	</bean>
	
	<bean id="dumpRdfRestlet"
		class="org.ncbo.stanford.view.rest.restlet.ontology.DumpRDFRestlet"
		parent="abstractBaseRestlet">
		<property name="dumpRDFService">
			<ref bean="dumpRDFService" />
		</property>
	</bean>
	
	<bean id="projectRestlet"
		class="org.ncbo.stanford.view.rest.restlet.metadata.ProjectRestlet"
		parent="abstractBaseRestlet">
		<property name="projectMetadataService">
			<ref bean="projectMetadataService" />
		</property>
	</bean>

	<bean id="projectListRestlet"
		class="org.ncbo.stanford.view.rest.restlet.metadata.ProjectListRestlet"
		parent="abstractBaseRestlet">
		<property name="projectMetadataService">
			<ref bean="projectMetadataService" />
		</property>
	</bean>
	
	<bean id="reviewRestlet"
		class="org.ncbo.stanford.view.rest.restlet.metadata.ReviewRestlet"
		parent="abstractBaseRestlet">
		<property name="reviewMetadataService">
			<ref bean="reviewMetadataService" />
		</property>
	</bean>
	
	<bean id="reviewListRestlet"
		class="org.ncbo.stanford.view.rest.restlet.metadata.ReviewListRestlet"
		parent="abstractBaseRestlet">
		<property name="reviewMetadataService">
			<ref bean="reviewMetadataService" />
		</property>
	</bean>
	
	<bean id="ratingRestlet"
		class="org.ncbo.stanford.view.rest.restlet.metadata.RatingRestlet"
		parent="abstractBaseRestlet">
		<property name="reviewMetadataService">
			<ref bean="reviewMetadataService" />
		</property>
	</bean>
	
	<bean id="ratingTypeRestlet"
		class="org.ncbo.stanford.view.rest.restlet.metadata.RatingTypeRestlet"
		parent="abstractBaseRestlet">
		<property name="reviewMetadataService">
			<ref bean="reviewMetadataService" />
		</property>
	</bean>
	
	<bean id="viewExtractionRestlet"
		class="org.ncbo.stanford.view.rest.restlet.extractor.ViewExtractionRestlet"
		parent="abstractBaseRestlet">
		<property name="conceptService">
			<ref bean="conceptService" />
		</property>
		<property name="tempDir">
			<ref bean="tempDir" />
		</property>
		<property name="traversedConceptLimit">
			<ref bean="traversedConceptLimit" />
		</property>
	</bean>
	
	<bean id="rdfExtractionRestlet"
		class="org.ncbo.stanford.view.rest.restlet.rdf.RdfExtractionRestlet"
		parent="abstractBaseRestlet">
		<property name="rdfService">
			<ref bean="rdfService" />
		</property>
		<property name="conceptService">
			<ref bean="conceptService" />
		</property>		
		<property name="ontologyService">
			<ref bean="ontologyService" />
		</property>		
		<property name="rdfFilePath">
			<ref bean="rdfFilePath" />
		</property>
	</bean>
	<!-- Adding For SubscriptionsRestlet-->
	<bean id="subscriptionsRestlet" class="org.ncbo.stanford.view.rest.restlet.subscriptions.SubscritpionsRestlet"
		parent="abstractBaseRestlet">
		<property name="subscriptionsService">
			<ref bean="subscriptionsService" />
		</property>
	</bean>

	<bean id="subscriptionsOntologyRestlet"
		class="org.ncbo.stanford.view.rest.restlet.subscriptions.SubscriptionsOntologyRestlet"
		parent="abstractBaseRestlet">
		<property name="subscriptionsService">
			<ref bean="subscriptionsService" />
		</property>
	</bean>
	
	<bean id="traversedConceptLimit" class="java.lang.Integer">
		<constructor-arg>
			<value>@bioportaltraversedconceptlimit@</value>
		</constructor-arg>
	</bean>

	<!-- All mappings: -->
	<bean id="restManager" class="org.ncbo.stanford.view.rest.base.RestManager">
		<property name="resourceMappings">
			<bean class="java.util.HashMap">
				<constructor-arg>
					<map>
						<entry key="/auth">
							<ref local="authenticationRestlet" />
						</entry>
						<entry key="/openIdAuth">
							<ref local="openIdAuthenticationRestlet" />
						</entry>
						<entry key="/openIdAuthRes">
							<ref local="openIdAuthenticationResponseRestlet" />
						</entry>
						<entry key="/ontologies/active/">
							<ref local="ontologiesRestlet" />
						</entry>
						<entry key="/ontologies/pulled/">
							<ref local="ontologiesRestlet" />
						</entry>
						<entry key="/views/active/">
							<ref local="ontologyViewsRestlet" />
						</entry>
						<entry key="/ontologies/index/">
							<ref local="indexRestlet" />
						</entry>
						<entry key="/ontologies/parse/">
							<ref local="ontologiesParseRestlet" />
						</entry>
						<entry key="/ontologies">
							<ref local="ontologiesRestlet" />
						</entry>
						<entry key="/views">
							<ref local="ontologyViewsRestlet" />
						</entry>
						<entry key="/views/versions/{ontologyid}">
							<ref local="ontologyViewListRestlet" />
						</entry>
						<entry key="/ontologies/{ontologyversionid}">
							<ref local="ontologyRestlet" />
						</entry>
						<entry key="/ontologies/versions/{ontologyid}">
							<ref local="ontologyVersionsRestlet" />
						</entry>
						<entry key="/ontologies/metrics/">
							<ref local="ontologyMetricsRestlet" />
						</entry>
						<entry key="/ontologies/metrics/{ontologyversionid}">
							<ref local="ontologyMetricsRestlet" />
						</entry>
						<entry key="/ontologies/download/{ontologyversionid}">
							<ref local="ontologyDownloadRestlet" />
						</entry>
						<entry key="/diffs/download/{ontologyversionid1}/{ontologyversionid2}">
							<ref local="diffDownloadRestlet" />
						</entry>
						<entry key="/diffs/{ontologyid}">
							<ref local="diffRestlet" />
						</entry>
						<entry key="/diffs/all/">
							<ref local="diffRestlet" />
						</entry>
						<entry key="/diffs/latest/">
							<ref local="diffRestlet" />
						</entry>
						<entry key="/diffs/">
							<ref local="diffRestlet" />
						</entry>						
						<entry key="/categories">
							<ref local="categoriesRestlet" />
						</entry>
						<entry key="/groups">
							<ref local="groupsRestlet" />
						</entry>
						<entry key="/concepts/{ontologyversionid}">
							<ref local="conceptRestlet" />
						</entry>
						<entry key="/concepts/{ontologyversionid}/{conceptid}">
							<ref local="conceptRestlet" />
						</entry>
						<entry key="/concepts/property/{property}">
							<ref local="conceptPropertyRestlet" />
						</entry>
						<entry key="/concepts/parents/{ontologyversionid}/{conceptid}">
							<ref local="conceptParentsRestlet" />
						</entry>
						<entry key="/virtual/parents/{ontologyid}/{conceptid}">
							<ref local="conceptParentsVirtualRestlet" />
						</entry>
						<entry key="/concepts/children/{ontologyversionid}/{conceptid}">
							<ref local="conceptChildrenRestlet" />
						</entry>
						<entry key="/virtual/children/{ontologyid}/{conceptid}">
							<ref local="conceptChildrenVirtualRestlet" />
						</entry>
						<entry key="/concepts/rootpath/{ontologyversionid}/{conceptid}">
							<ref local="conceptRootPathRestlet" />
						</entry>
						<entry key="/virtual/rootpath/{ontologyid}/{conceptid}">
							<ref local="conceptRootPathVirtualRestlet" />
						</entry>
						<entry key="/concepts/siblings/{ontologyversionid}/{conceptid}">
							<ref local="conceptSiblingsRestlet" />
						</entry>
						<entry key="/virtual/siblings/{ontologyid}/{conceptid}">
							<ref local="conceptSiblingsVirtualRestlet" />
						</entry>
						<entry key="/concepts/leafpath/{ontologyversionid}/{conceptid}">
							<ref local="conceptLeavesRestlet" />
						</entry>
						<entry key="/virtual/leafpath/{ontologyid}/{conceptid}">
							<ref local="conceptLeavesVirtualRestlet" />
						</entry>
						<entry key="/users">
							<ref local="usersRestlet" />
						</entry>
						<entry key="/users/{userid}">
							<ref local="userRestlet" />
						</entry>
						<entry key="/users/email/{email}/">
							<ref local="userEmailRestlet" />
						</entry>
						<entry key="/path/{ontologyversionid}">
							<ref local="pathRestlet" />
						</entry>
						<entry key="/path/{ontologyversionid}/{source}/{target}">
							<ref local="pathRestlet" />
						</entry>
						<entry key="/search/{query}">
							<ref local="queryRestlet" />
						</entry>
						<entry key="/search">
							<ref local="queryRestlet" />
						</entry>
						<entry key="/search/meta/{query}">
							<ref local="metadataSearchRestlet" />
						</entry>
						<entry key="/virtual/ontology/{ontologyid}">
							<ref local="virtualRestlet" />
						</entry>
						<entry key="/virtual/download/{ontologyid}">
							<ref local="ontologyDownloadRestlet" />
						</entry>
						<entry key="/virtual/ontology/{ontologyid}/{conceptid}">
							<ref local="virtualRestlet" />
						</entry>
						<entry key="/obopull">
							<ref local="oboCVSPullRestlet" />
						</entry>
						<entry key="/log">
							<ref local="usageLoggingRestlet" />
						</entry>
						<entry key="/ontology/dump_n3/{ontologyversionid}">
							<ref local="dumpRdfRestlet" />
						</entry>
						<entry key="/viewextractor/{ontologyversionid}">
							<ref local="viewExtractionRestlet" />
						</entry>
						<entry key="/ontologies/rdf/download/{ontologyversionid}">
							<ref local="rdfDownloadRestlet" />
						</entry>
						<entry key="/ontologies/virtual/rdf/download/{ontologyid}">
							<ref local="rdfDownloadRestlet" />
						</entry>						
						<entry key="/rdf">
							<ref local="rdfExtractionRestlet" />
						</entry>						
						<entry key="/rdf/{ontologyversionid}">
							<ref local="rdfExtractionRestlet" />
						</entry>
						<entry key="/rdf/{ontologyversionid}/{conceptid}">
							<ref local="rdfExtractionRestlet" />
						</entry>
						<entry key="/virtual/rdf/{ontologyid}">
							<ref local="rdfExtractionRestlet" />
						</entry>
						<entry key="/virtual/rdf/{ontologyid}/{conceptid}">
							<ref local="rdfExtractionRestlet" />
						</entry>						
						<entry key="/concepts/instances/{ontologyVersionId}">
							<ref local="instanceRestlet" />
						</entry>
						<entry key="/instance/{ontologyVersionId}">
							<ref local="instanceByIdRestlet" />
						</entry>
						<entry key="/notes/{ontologyversionid}">
							<ref local="notesRestlet" />
						</entry>
						<entry key="/virtual/notes/{ontologyid}">
							<ref local="notesRestlet" />
						</entry>
						<!-- ========== Metadata ========== -->
						<entry key="/project/{id}">
							<ref local="projectRestlet" />
						</entry>
						<entry key="/projects">
							<ref local="projectListRestlet" />
						</entry>
						<entry key="/review/{id}">
							<ref local="reviewRestlet" />
						</entry>
						<entry key="/reviews">
							<ref local="reviewListRestlet" />
						</entry>
						<entry key="/review/ratingtypes">
							<ref local="ratingTypeRestlet" />
						</entry>
						<entry key="/review/rating/{id}">
							<ref local="ratingRestlet" />
						</entry>
						<!--Adding For SubscriptionsRestlet-->
						<entry key="/subscriptions">
							<ref local="subscriptionsRestlet" />
						</entry>
						<entry key="/subscriptions/user/{userid}">
							<ref local="subscriptionsRestlet" />
						</entry>
						<entry key="/subscriptions/ontologies/{ontologyid}">
							<ref local="subscriptionsOntologyRestlet" />
						</entry>
					</map>
				</constructor-arg>
			</bean>
		</property>
	</bean>
</beans>