<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

	<!-- Wire all restlets -->
	<bean id="authenticationRestlet"
		class="org.ncbo.stanford.view.rest.authentication.AuthenticationRestlet">
		<property name="authenticationManager">
			<ref bean="authenticationManager" />
		</property>
		<property name="sessionService">
			<ref bean="sessionService" />
		</property>
		<property name="xmlSerializationService">
			<ref bean="xmlSerializationService" />
		</property>
	</bean>

	<bean id="ontologyRestlet"
		class="org.ncbo.stanford.view.rest.restlet.ontology.OntologyRestlet">
		<property name="ontologyService">
			<ref bean="ontologyService" />
		</property>
	</bean>
	
	<bean id="ontologiesRestlet"
		class="org.ncbo.stanford.view.rest.restlet.ontology.OntologiesRestlet">
		<property name="ontologyService">
			<ref bean="ontologyService" />
		</property>
		<property name="ontologyLoadProcessorService">
			<ref bean="ontologyLoadProcessorService" />
		</property>
		<property name="xmlSerializationService">
			<ref bean="xmlSerializationService" />
		</property>
	</bean>

	<bean id="userRestlet"
		class="org.ncbo.stanford.view.rest.restlet.user.UserRestlet">
		<property name="userService">
			<ref bean="userService" />
		</property>
	</bean>

	<!-- All mappings: -->
	<bean id="restManager"
		class="org.ncbo.stanford.view.rest.base.RestManager">
		<property name="resourceMappings">
			<bean class="java.util.HashMap">
				<constructor-arg>
					<map>
						<entry key="/auth">
							<ref local="authenticationRestlet" />
						</entry>
						<entry key="/ontologies">
							<ref local="ontologiesRestlet" />
						</entry>
						<entry key="/ontologies/{ontology}">
							<ref local="ontologyRestlet" />
						</entry>
						<entry key="/user/{user}">
							<ref local="userRestlet" />
						</entry>
					</map>
				</constructor-arg>
			</bean>
		</property>
	</bean>
</beans>