<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/util 
       http://www.springframework.org/schema/util/spring-util-2.5.xsd
       http://www.springframework.org/schema/tx 
       http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
       http://www.springframework.org/schema/aop 
       http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">
	
	<!-- JNDI Data source info --> 
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
		<property name="driverClass">
			<value>com.mysql.jdbc.Driver</value></property>
		<property name="jdbcUrl">
			<value>jdbc:mysql://ncbostage-coredb1.sunet:3306/bioportal</value></property>
		<property name="properties">
			<props>
				<prop key="user">bioportal_prd</prop>
				<prop key="password">bioportal_prd$123</prop>
				<prop key="c3p0.timeout">5000</prop>
				<prop key="c3p0.idle_test_period">300</prop>
				<prop key="c3p0.max_size">100</prop>
				<prop key="c3p0.acquire_increment">2</prop>
			</props>
		</property>
	</bean>

</beans>
