<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

	<!-- 
		<bean id="acegiFilterChainProxy"
		class="org.acegisecurity.util.FilterChainProxy">
		<property name="filterInvocationDefinitionSource">
		<value>
		CONVERT_URL_TO_LOWERCASE_BEFORE_COMPARISON
		PATTERN_TYPE_APACHE_ANT
		/**=httpSessionContextIntegrationFilter,basicProcessingFilter,securityContextHolderAwareRequestFilter,exceptionTranslationFilter,filterSecurityInterceptor
		</value>
		</property>
		</bean>
	-->

	<!-- 
		<bean id="acegiFilterChainProxy"
		class="org.acegisecurity.util.FilterChainProxy">
		<property name="filterInvocationDefinitionSource">
		<value>
		CONVERT_URL_TO_LOWERCASE_BEFORE_COMPARISON
		PATTERN_TYPE_APACHE_ANT
		/**=restfulContextIntegrationFilter,authenticationProcessingFilter,securityContextHolderAwareRequestFilter,exceptionTranslationFilter,filterSecurityInterceptor
		</value>
		</property>
		</bean>
	-->

	<bean id="acegiFilterChainProxy"
		class="org.acegisecurity.util.FilterChainProxy">
		<property name="filterInvocationDefinitionSource">
			<value>
				CONVERT_URL_TO_LOWERCASE_BEFORE_COMPARISON
				PATTERN_TYPE_APACHE_ANT
				/**=restfulContextIntegrationFilter,anonymousProcessingFilter,exceptionTranslationFilter,filterSecurityInterceptor
			</value>
		</property>
	</bean>



	<!-- 
		<bean id="basicProcessingFilter"
		class="org.acegisecurity.ui.basicauth.BasicProcessingFilter">
		<property name="authenticationManager"
		ref="authenticationManager" />
		<property name="authenticationEntryPoint"
		ref="authenticationEntryPoint" />
		</bean>
	-->










	<bean id="restfulContextIntegrationFilter"
		class="org.ncbo.stanford.util.security.context.RESTfulContextIntegrationFilter">
		<property name="context"
			value="org.acegisecurity.context.SecurityContextImpl" />
 
		<property name="sessionExpirationSystem">
			<ref bean="sessionExpirationSystem" />
		</property>


		<property name="allowSessionCreation">
			<value>false</value>
		</property>

	</bean>


	<bean id="securityContextHolderAwareRequestFilter"
		class="org.acegisecurity.wrapper.SecurityContextHolderAwareRequestFilter">
		<property name="wrapperClass"
			value="org.acegisecurity.wrapper.SecurityContextHolderAwareRequestWrapper" />
	</bean>













	<bean id="authenticationProcessingFilter"
		class="org.acegisecurity.ui.webapp.AuthenticationProcessingFilter">
		<property name="authenticationManager"
			ref="authenticationManager" />
		<property name="authenticationFailureUrl"
			value="/acegilogin.html" />
		<property name="defaultTargetUrl" value="/" />
		<property name="filterProcessesUrl"
			value="/j_acegi_security_check" />
	</bean>

	<bean id="exceptionTranslationFilter"
		class="org.ncbo.stanford.util.security.ui.RESTfulExceptionTranslationFilter">
		<property name="authenticationEntryPoint">
			<bean
				class="org.acegisecurity.ui.webapp.AuthenticationProcessingFilterEntryPoint">
				<property name="loginFormUrl" value="/acegilogin.html" />
				<property name="forceHttps" value="false" />
			</bean>
		</property>
		<property name="accessDeniedHandler">
			<bean
				class="org.acegisecurity.ui.AccessDeniedHandlerImpl">
				<property name="errorPage" value="/accessDenied.jsp" />
			</bean>
		</property>
	</bean>



	<!-- 	
		<bean id="exceptionTranslationFilter"
		class="org.acegisecurity.ui.ExceptionTranslationFilter">
		<property name="authenticationEntryPoint" ref="authenticationEntryPoint"/>
		</bean>
		
		<bean id="authenticationEntryPoint"
		class="org.acegisecurity.ui.basicauth.BasicProcessingFilterEntryPoint">
		<property name="realmName" value="BioPortal" />
		</bean>
	-->








	<!-- filter responsible for access decisions. What urlrequests may be
		processed by which roles -->
	<bean id="filterSecurityInterceptor"
		class="org.acegisecurity.intercept.web.FilterSecurityInterceptor">
		<property name="authenticationManager"
			ref="authenticationManager" />
		<property name="accessDecisionManager">
			<ref local="httpRequestAccessDecisionManager" />
		</property>
		<property name="objectDefinitionSource"
			ref="filterDefinitionMap" />
	</bean>


	<!-- 
		<bean id="filterDefinitionMap"
		class="org.ncbo.stanford.util.security.RESTfulDefinitionSource">
		<constructor-arg type="java.lang.String">
		<value>
		/rest/**:GET=ROLE_DEVELOPER
		/rest/**:PUT,DELETE,POST=ROLE_ADMINISTRATOR
		</value>
		</constructor-arg>
		</bean>
	-->
	
	<bean id="filterDefinitionMap"
		class="org.ncbo.stanford.util.security.intercept.web.RESTfulDefinitionSource">
		<constructor-arg type="java.lang.String">
			<value>
				/rest/auth:GET,POST=ROLE_ANONYMOUS
				/rest/**:GET=ROLE_DEVELOPER
			</value>
		</constructor-arg>
	</bean>



	<bean id="authenticationManager"
		class="org.acegisecurity.providers.ProviderManager">
		<property name="providers">
			<list>
				<ref local="daoAuthenticationProvider" />
				<ref local="applicationAuthenticationProvider" />
			</list>
		</property>
	</bean>


	<bean id="daoAuthenticationProvider"
		class="org.acegisecurity.providers.dao.DaoAuthenticationProvider">
		<property name="userDetailsService">
			<ref local="jdbcDaoImpl" />
		</property>
		<property name="userCache">
			<ref local="userCache" />
		</property>
	</bean>






	<bean id="applicationAuthenticationProvider"
		class="org.ncbo.stanford.util.security.providers.ApplicationAuthenticationProvider">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="applicationByApplicationIdQuery">
			<value>@applicationbyapplicationidquery@</value>
		</property>
	</bean>





	<bean id="anonymousProcessingFilter"
		class="org.acegisecurity.providers.anonymous.AnonymousProcessingFilter">
		<property name="key">
			<value>SomeKey_MUST_CHANGE</value>
		</property>
		<property name="userAttribute">
			<value>anonymousUser,ROLE_ANONYMOUS</value>
		</property>
	</bean>








	<bean id="cacheManager"
		class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean" />

	<bean id="userCacheBackend"
		class="org.springframework.cache.ehcache.EhCacheFactoryBean">
		<property name="cacheManager">
			<ref local="cacheManager" />
		</property>
		<property name="cacheName">
			<value>userCache</value>
		</property>
	</bean>

	<bean id="userCache"
		class="org.acegisecurity.providers.dao.cache.EhCacheBasedUserCache">
		<property name="cache">
			<ref local="userCacheBackend" />
		</property>
	</bean>

	<bean id="jdbcDaoImpl"
		class="org.acegisecurity.userdetails.jdbc.JdbcDaoImpl">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="usersByUsernameQuery">
			<value>@usersbyusernamequery@</value>
		</property>
		<property name="authoritiesByUsernameQuery">
			<value>@authoritiesbyusernamequery@</value>
		</property>
	</bean>

	<bean id="httpRequestAccessDecisionManager"
		class="org.acegisecurity.vote.AffirmativeBased">
		<property name="allowIfAllAbstainDecisions" value="false" />
		<property name="decisionVoters">
			<list>
				<ref local="roleVoter" />
			</list>
		</property>
	</bean>

	<bean id="roleVoter" class="org.acegisecurity.vote.RoleVoter" />
</beans>