<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/util 
       http://www.springframework.org/schema/util/spring-util-2.5.xsd
       http://www.springframework.org/schema/tx 
       http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
       http://www.springframework.org/schema/aop 
       http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">
	
	<!-- Data source info --> 
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
		<property name="connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
		<property name="driverClass" value="@bioportaljdbcdriver@" />
		<property name="jdbcUrl" value="@bioportaljdbcurl@" />
		<property name="user" value="@bioportaljdbcusername@" />
		<property name="password" value="@bioportaljdbcpassword@" />
		<property name="initialPoolSize">
			<value>@bioportaljdbcc3p0initial_pool_size@</value>
		</property>
		<property name="minPoolSize">
			<value>@bioportaljdbcc3p0min_size@</value>
		</property>
		<property name="maxPoolSize">
			<value>@bioportaljdbcc3p0max_size@</value>
		</property>
		<property name="acquireRetryAttempts">
			<value>@bioportaljdbcc3p0acquire_retry_attempts@</value>
		</property>
		<property name="acquireIncrement">
			<value>@bioportaljdbcc3p0acquire_increment@</value>
		</property>
		<property name="idleConnectionTestPeriod">
			<value>@bioportaljdbcc3p0idle_test_period@</value>
		</property>
		<property name="maxIdleTime">
			<value>@bioportaljdbcc3p0timeout@</value>
		</property>
		<property name="maxConnectionAge">
			<value>@bioportaljdbcc3p0max_connection_age@</value>
		</property>
		<property name="preferredTestQuery">
			<value>@bioportaljdbcc3p0preferred_test_query@</value>
		</property>
 	</bean>
</beans>
