<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQL5Dialect
				</prop>
				<prop key="hibernate.show_sql">false</prop>
				<prop key="hibernate.use_outer_join">false</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>
					org/ncbo/stanford/domain/custom/NcboOntology.hbm.xml
				</value>
				<value>
					org/ncbo/stanford/domain/custom/NcboOntologyQuery.hbm.xml
				</value>
				<value>
					org/ncbo/stanford/domain/custom/NcboTypeDef.hbm.xml
				</value>
				<value>
					org/ncbo/stanford/domain/generated/NcboOntologyVersion.hbm.xml
				</value>
				<value>
					org/ncbo/stanford/domain/generated/NcboOntologyFile.hbm.xml
				</value>
				<value>
					org/ncbo/stanford/domain/generated/NcboOntologyMetadata.hbm.xml
				</value>
				<value>
					org/ncbo/stanford/domain/generated/NcboUser.hbm.xml
				</value>
				<value>
					org/ncbo/stanford/domain/generated/NcboOntologyCategory.hbm.xml
				</value>
				<value>
					org/ncbo/stanford/domain/generated/NcboOntologyAdditionalMetadata.hbm.xml
				</value>
				<value>
					org/ncbo/stanford/domain/generated/NcboUserRole.hbm.xml
				</value>
				<value>
					org/ncbo/stanford/domain/generated/NcboLAdditionalMetadata.hbm.xml
				</value>
				<value>
					org/ncbo/stanford/domain/generated/NcboLCategory.hbm.xml
				</value>
				<value>
					org/ncbo/stanford/domain/generated/NcboLRole.hbm.xml
				</value>
				<value>
					org/ncbo/stanford/domain/generated/NcboSeqOntologyId.hbm.xml
				</value>
				<value>
					org/ncbo/stanford/domain/generated/NcboAdminApplication.hbm.xml
				</value>
				<value>
					org/ncbo/stanford/domain/generated/NcboLAppTextDatatype.hbm.xml
				</value>
				<value>
					org/ncbo/stanford/domain/generated/NcboAppText.hbm.xml
				</value>
				<value>
					org/ncbo/stanford/domain/generated/NcboOntologyLoadQueue.hbm.xml
				</value>
				<value>
					org/ncbo/stanford/domain/generated/NcboLStatus.hbm.xml
				</value>
				<value>
					org/ncbo/stanford/domain/generated/VNcboOntology.hbm.xml
				</value>
			</list>
		</property>
	</bean>

	<bean id="jdbcExceptionTranslator"
		class="org.springframework.jdbc.support.SQLErrorCodeSQLExceptionTranslator">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
	</bean>

	<!-- We are using HibernateTemplate for 90% to 95% or so of database access.
		The JdbcTemplate is for when we can't use Hibernate. 
		Don't use JDBC directly! Use the JdbcTemplate as it handles JDBC cleanup.-->
	<bean id="jdbcTemplate"
		class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
	</bean>

	<bean id="hibernateTemplate"
		class="org.springframework.orm.hibernate3.HibernateTemplate">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
		<property name="jdbcExceptionTranslator">
			<ref bean="jdbcExceptionTranslator" />
		</property>
	</bean>

	<!-- This is the base definition for all Hibernate based DAOs -->
	<bean id="hibernateDaoSupport"
		class="org.springframework.orm.hibernate3.support.HibernateDaoSupport"
		abstract="true">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
		<!-- You could use the configured Hibernate template or create
			a new mapping that uses a configured hibernate template. 
			HibernateDaoSupport creates a HibernateTempalte with the default settings.
		-->
		<property name="hibernateTemplate">
			<ref bean="hibernateTemplate" />
		</property>
	</bean>

	<!-- Hibernate Transaction Manager Definition -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<!--  Adding annotation Driven for Transcation management -->
	<!-- enable the configuration of transactional behavior based on annotations -->
	<tx:annotation-driven transaction-manager="transactionManager" />







<!-- 

  <aop:config>
    <aop:pointcut id="ontologyLoadSchedulerMethods" expression="execution(* org.ncbo.stanford.service.loader.scheduler.OntologyLoadSchedulerService.*(..))"/>
    <aop:advisor advice-ref="txAdvice" pointcut-ref="ontologyLoadSchedulerMethods"/>
  </aop:config>

  <tx:advice id="txAdvice" transaction-manager="transactionManager">
    <tx:attributes>
      <tx:method name="processOntologyLoad" propagation="NOT_SUPPORTED"/>
      <tx:method name="processRecord" propagation="REQUIRES_NEW"/>
    </tx:attributes>
  </tx:advice>

 
 -->









	<!--  Custom DAOs begin here. Please remove the autogenerated
		DAO bean declaration if you have created a custom DAO 
		that extends the orginial DAO -->
	<bean id="NcboOntologyCategoryDAO"
		class="org.ncbo.stanford.domain.custom.dao.CustomNcboOntologyCategoryDAO">
		<property name="hibernateTemplate">
			<ref bean="hibernateTemplate" />
		</property>
	</bean>

	<bean id="NcboOntologyAdditionalMetadataDAO"
		class="org.ncbo.stanford.domain.custom.dao.CustomNcboOntologyAdditionalMetadataDAO">
		<property name="hibernateTemplate">
			<ref bean="hibernateTemplate" />
		</property>
	</bean>

	<bean id="NcboOntologyMetadataDAO"
		class="org.ncbo.stanford.domain.custom.dao.CustomNcboOntologyMetadataDAO">
		<property name="hibernateTemplate">
			<ref bean="hibernateTemplate" />
		</property>
	</bean>

	<bean id="NcboOntologyVersionDAO"
		class="org.ncbo.stanford.domain.custom.dao.CustomNcboOntologyVersionDAO">
		<property name="hibernateTemplate">
			<ref bean="hibernateTemplate" />
		</property>
	</bean>

	<bean id="NcboOntologyFileDAO"
		class="org.ncbo.stanford.domain.custom.dao.CustomNcboOntologyFileDAO">
		<property name="hibernateTemplate">
			<ref bean="hibernateTemplate" />
		</property>
	</bean>

	<bean id="NcboUserRoleDAO"
		class="org.ncbo.stanford.domain.custom.dao.CustomNcboUserRoleDAO">
		<property name="hibernateTemplate">
			<ref bean="hibernateTemplate" />
		</property>
	</bean>

	<bean id="NcboUserDAO"
		class="org.ncbo.stanford.domain.custom.dao.CustomNcboUserDAO">
		<property name="hibernateTemplate">
			<ref bean="hibernateTemplate" />
		</property>
	</bean>

	<bean id="NcboLRoleDAO"
		class="org.ncbo.stanford.domain.custom.dao.CustomNcboLRoleDAO">
		<property name="hibernateTemplate">
			<ref bean="hibernateTemplate" />
		</property>
	</bean>

	<bean id="NcboLAdditionalMetadataDAO"
		class="org.ncbo.stanford.domain.custom.dao.CustomNcboLAdditionalMetadataDAO">
		<property name="hibernateTemplate">
			<ref bean="hibernateTemplate" />
		</property>
	</bean>

	<bean id="NcboLCategoryDAO"
		class="org.ncbo.stanford.domain.custom.dao.CustomNcboLCategoryDAO">
		<property name="hibernateTemplate">
			<ref bean="hibernateTemplate" />
		</property>
	</bean>

	<bean id="NcboSeqOntologyIdDAO"
		class="org.ncbo.stanford.domain.custom.dao.CustomNcboSeqOntologyIdDAO">
		<property name="hibernateTemplate">
			<ref bean="hibernateTemplate" />
		</property>
	</bean>

	<bean id="NcboAdminApplicationDAO"
		class="org.ncbo.stanford.domain.custom.dao.CustomNcboAdminApplicationDAO">
		<property name="hibernateTemplate">
			<ref bean="hibernateTemplate" />
		</property>
	</bean>

	<bean id="NcboLAppTextDatatypeDAO"
		class="org.ncbo.stanford.domain.custom.dao.CustomNcboLAppTextDatatypeDAO">
		<property name="hibernateTemplate">
			<ref bean="hibernateTemplate" />
		</property>
	</bean>

	<bean id="NcboAppTextDAO"
		class="org.ncbo.stanford.domain.custom.dao.CustomNcboAppTextDAO">
		<property name="hibernateTemplate">
			<ref bean="hibernateTemplate" />
		</property>
	</bean>

	<bean id="NcboOntologyLoadQueueDAO"
		class="org.ncbo.stanford.domain.custom.dao.CustomNcboOntologyLoadQueueDAO">
		<property name="hibernateTemplate">
			<ref bean="hibernateTemplate" />
		</property>
	</bean>

	<bean id="NcboLStatusDAO"
		class="org.ncbo.stanford.domain.custom.dao.CustomNcboLStatusDAO">
		<property name="hibernateTemplate">
			<ref bean="hibernateTemplate" />
		</property>
	</bean>

	<bean id="VNcboOntologyDAO"
		class="org.ncbo.stanford.domain.custom.dao.CustomVNcboOntologyDAO">
		<property name="hibernateTemplate">
			<ref bean="hibernateTemplate" />
		</property>
	</bean>

	<!-- Message bundle -->
	<bean id="messageBundleName" class="java.lang.String">
		<constructor-arg>
			<value>@messagebundle@</value>
		</constructor-arg>
	</bean>

	<bean id="messageUtils"
		class="org.ncbo.stanford.util.MessageUtils">
		<constructor-arg ref="messageBundleName" index="0" />
	</bean>

	<!-- Managers -->
	<bean id="ontologyRetrievalManager"
		class="org.ncbo.stanford.manager.impl.OntologyRetrievalManagerImpl">
		<property name="ncboOntologyVersionDAO">
			<ref bean="NcboOntologyVersionDAO" />
		</property>
		<property name="ontologyFormatHandlerMap">
			<ref local="ontologyFormatHandlerMap" />
		</property>
		<property name="ontologyRetrievalHandlerMap">
			<ref local="ontologyRetrievalHandlerMap" />
		</property>
	</bean>

	<bean id="ontologyLoadManager"
		class="org.ncbo.stanford.manager.impl.OntologyLoadManagerImpl">		
		<property name="ontologyFormatHandlerMap">
			<ref local="ontologyFormatHandlerMap" />
		</property>
		<property name="ontologyLoadHandlerMap">
			<ref local="ontologyLoadHandlerMap" />
		</property>
		<property name="ontologyFilePath">
			<ref bean="ontologyFilePath" />
		</property>
	</bean>

	<!-- Ontology format handler map -->
	<util:map id="ontologyFormatHandlerMap"
		map-class="java.util.HashMap">
		<entry>
			<key>
				<util:constant
					static-field="org.ncbo.stanford.util.constants.ApplicationConstants.FORMAT_OWL_DL" />
			</key>
			<util:constant
				static-field="org.ncbo.stanford.util.constants.ApplicationConstants.FORMAT_HANDLER_PROTEGE" />
		</entry>
		<entry>
			<key>
				<util:constant
					static-field="org.ncbo.stanford.util.constants.ApplicationConstants.FORMAT_OWL_FULL" />
			</key>
			<util:constant
				static-field="org.ncbo.stanford.util.constants.ApplicationConstants.FORMAT_HANDLER_PROTEGE" />
		</entry>
		<entry>
			<key>
				<util:constant
					static-field="org.ncbo.stanford.util.constants.ApplicationConstants.FORMAT_PROTEGE" />
			</key>
			<util:constant
				static-field="org.ncbo.stanford.util.constants.ApplicationConstants.FORMAT_HANDLER_PROTEGE" />
		</entry>
		<entry>
			<key>
				<util:constant
					static-field="org.ncbo.stanford.util.constants.ApplicationConstants.FORMAT_OBO" />
			</key>
			<util:constant
				static-field="org.ncbo.stanford.util.constants.ApplicationConstants.FORMAT_HANDLER_LEXGRID" />
		</entry>
		<entry>
			<key>
				<util:constant
					static-field="org.ncbo.stanford.util.constants.ApplicationConstants.FORMAT_UMLS_RRF" />
			</key>
			<util:constant
				static-field="org.ncbo.stanford.util.constants.ApplicationConstants.FORMAT_HANDLER_LEXGRID" />
		</entry>
		<entry>
			<key>
				<util:constant
					static-field="org.ncbo.stanford.util.constants.ApplicationConstants.FORMAT_LEXGRID_XML" />
			</key>
			<util:constant
				static-field="org.ncbo.stanford.util.constants.ApplicationConstants.FORMAT_HANDLER_LEXGRID" />
		</entry>
	</util:map>

	<!-- Ontology handler maps -->
	<util:map id="ontologyLoadHandlerMap"
		map-class="java.util.HashMap">
		<entry>
			<key>
				<util:constant
					static-field="org.ncbo.stanford.util.constants.ApplicationConstants.FORMAT_HANDLER_LEXGRID" />
			</key>
			<ref local="ontologyLoadManagerWrapperLexGrid" />
		</entry>
		<entry>
			<key>
				<util:constant
					static-field="org.ncbo.stanford.util.constants.ApplicationConstants.FORMAT_HANDLER_PROTEGE" />
			</key>
			<ref local="ontologyLoadManagerWrapperProtege" />
		</entry>
	</util:map>

	<util:map id="ontologyRetrievalHandlerMap"
		map-class="java.util.HashMap">
		<entry>
			<key>
				<util:constant
					static-field="org.ncbo.stanford.util.constants.ApplicationConstants.FORMAT_HANDLER_LEXGRID" />
			</key>
			<ref local="ontologyRetrievalManagerWrapperLexGrid" />
		</entry>
		<entry>
			<key>
				<util:constant
					static-field="org.ncbo.stanford.util.constants.ApplicationConstants.FORMAT_HANDLER_PROTEGE" />
			</key>
			<ref local="ontologyRetrievalManagerWrapperProtege" />
		</entry>
	</util:map>

	<!-- Manager Wrappers -->
	<bean id="abstractOntologyManagerWrapperLexGrid"
		class="org.ncbo.stanford.manager.wrapper.AbstractOntologyManagerWrapperLexGrid"
		abstract="true">
		<property name="ncboOntologyVersionDAO">
			<ref bean="NcboOntologyVersionDAO" />
		</property>
		<property name="ncboOntologyMetadataDAO">
			<ref bean="NcboOntologyMetadataDAO" />
		</property>
	</bean>

	<bean id="abstractOntologyManagerWrapperProtege"
		class="org.ncbo.stanford.manager.wrapper.AbstractOntologyManagerWrapperProtege"
		abstract="true">
		<property name="protegeJdbcUrl">
			<ref bean="protegeJdbcUrl" />
		</property>
		<property name="protegeJdbcDriver">
			<ref bean="protegeJdbcDriver" />
		</property>
		<property name="protegeJdbcUsername">
			<ref bean="protegeJdbcUsername" />
		</property>
		<property name="protegeJdbcPassword">
			<ref bean="protegeJdbcPassword" />
		</property>
		<property name="protegeTablePrefix">
			<ref bean="protegeTablePrefix" />
		</property>
		<property name="protegeTableSuffix">
			<ref bean="protegeTableSuffix" />
		</property>
		<property name="protegeBigFileThreshold">
			<ref bean="protegeBigFileThreshold" />
		</property>
	</bean>

	<bean id="ontologyRetrievalManagerWrapperLexGrid"
		class="org.ncbo.stanford.manager.wrapper.impl.OntologyRetrievalManagerWrapperLexGridImpl"
		parent="abstractOntologyManagerWrapperLexGrid">
	</bean>

	<bean id="ontologyRetrievalManagerWrapperProtege"
		class="org.ncbo.stanford.manager.wrapper.impl.OntologyRetrievalManagerWrapperProtegeImpl"
		parent="abstractOntologyManagerWrapperProtege">
	</bean>

	<bean id="ontologyLoadManagerWrapperLexGrid"
		class="org.ncbo.stanford.manager.wrapper.impl.OntologyLoadManagerWrapperLexGridImpl"
		parent="abstractOntologyManagerWrapperLexGrid">
	</bean>

	<bean id="ontologyLoadManagerWrapperProtege"
		class="org.ncbo.stanford.manager.wrapper.impl.OntologyLoadManagerWrapperProtegeImpl"
		parent="abstractOntologyManagerWrapperProtege">
	</bean>

	<!-- Application Services -->
	<bean id="userService"
		class="org.ncbo.stanford.service.user.impl.UserServiceImpl">
		<property name="ncboUserDAO">
			<ref bean="NcboUserDAO" />
		</property>
	</bean>

	<bean id="conceptService"
		class="org.ncbo.stanford.service.concept.impl.ConceptServiceImpl">
		<property name="ontologyRetrievalManager">
			<ref bean="ontologyRetrievalManager" />
		</property>
	</bean>

	<bean id="ontologyService"
		class="org.ncbo.stanford.service.ontology.impl.OntologyServiceImpl">
		<property name="ontologyRetrievalManager">
			<ref bean="ontologyRetrievalManager" />
		</property>
	</bean>

	<bean id="ontologyLoadProcessorService"
		class="org.ncbo.stanford.service.loader.processor.impl.OntologyLoadProcessorServiceImpl">
		<property name="ncboOntologyMetadataDAO">
			<ref bean="NcboOntologyMetadataDAO" />
		</property>
		<property name="ncboOntologyVersionDAO">
			<ref bean="NcboOntologyVersionDAO" />
		</property>
		<property name="ncboOntologyCategoryDAO">
			<ref bean="NcboOntologyCategoryDAO" />
		</property>
		<property name="ncboOntologyLoadQueueDAO">
			<ref bean="NcboOntologyLoadQueueDAO" />
		</property>
		<property name="ncboOntologyFileDAO">
			<ref bean="NcboOntologyFileDAO" />
		</property>
		<property name="ncboSeqOntologyIdDAO">
			<ref bean="NcboSeqOntologyIdDAO" />
		</property>
		<property name="ontologyFilePath">
			<ref bean="ontologyFilePath" />
		</property>
	</bean>

	<bean id="ontologyLoadSchedulerService"
		class="org.ncbo.stanford.service.loader.scheduler.impl.OntologyLoadSchedulerServiceImpl">
		<property name="ncboOntologyLoadQueueDAO">
			<ref bean="NcboOntologyLoadQueueDAO" />
		</property>
		<property name="ncboOntologyVersionDAO">
			<ref bean="NcboOntologyVersionDAO" />
		</property>
		<property name="ontologyLoadManager">
			<ref bean="ontologyLoadManager" />
		</property>
	</bean>

	<!-- Session Management -->
	<bean id="expirationHandler"
		class="org.ncbo.stanford.util.cache.expiration.handler.impl.SimpleExpirationHandler" />

	<bean id="hashbeltContainerFactory"
		class="org.ncbo.stanford.util.cache.container.impl.HashlistBasedHashbeltContainerFactory" />

	<bean id="sessionService"
		class="org.ncbo.stanford.service.session.impl.SessionServiceImpl">
		<constructor-arg index="0">
			<value>@bioportalsessionnumcontainers@</value>
		</constructor-arg>
		<constructor-arg index="1">
			<value>@bioportalsessiontimeout@</value>
		</constructor-arg>
		<constructor-arg index="2">
			<ref bean="expirationHandler" />
		</constructor-arg>
		<constructor-arg index="3">
			<ref bean="hashbeltContainerFactory" />
		</constructor-arg>
	</bean>

	<bean id="textManager"
		class="org.ncbo.stanford.util.textmanager.service.impl.TextManagerImpl">
		<property name="ncboAppTextDAO">
			<ref bean="NcboAppTextDAO" />
		</property>
	</bean>

	<bean id="xmlSerializationService"
		class="org.ncbo.stanford.service.xml.impl.XMLSerializationServiceImpl">
	</bean>

	<!-- Ontology load scheduler begins here -->	
	<bean id="schedulerJobDetailBean" 
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="ontologyLoadSchedulerService" />
		<property name="targetMethod" value="processOntologyLoad" />
		<property name="concurrent" value="false" />
	</bean>

	<bean id="coreSimpleTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerBean">
		<property name="jobDetail">
			<ref bean="schedulerJobDetailBean" />
		</property>
		<property name="startDelay">
			<ref bean="startDelay" />
		</property>
		<property name="repeatInterval">
			<ref bean="repeatInterval" />
		</property>
	</bean>

	<bean id="startDelay" class="java.lang.Long">
		<constructor-arg>
			<value>@ontologyloadstartdelay@</value>
		</constructor-arg>
	</bean>

	<bean id="repeatInterval" class="java.lang.Long">
		<constructor-arg>
			<value>@ontologyloadrepeatinterval@</value>
		</constructor-arg>
	</bean>
	
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="coreSimpleTrigger" />
			</list>
		</property>
	</bean>	

	<!-- Constants -->
	<bean id="ontologyFilePath" class="java.lang.String">
		<constructor-arg>
			<value>@bioportalontologyfilepath@</value>
		</constructor-arg>
	</bean>

	<!-- Protege DB Configuation -->
	<bean id="protegeJdbcUrl" class="java.lang.String">
		<constructor-arg>
			<value>@protegejdbcurl@</value>
		</constructor-arg>
	</bean>

	<bean id="protegeJdbcDriver" class="java.lang.String">
		<constructor-arg>
			<value>@protegejdbcdriver@</value>
		</constructor-arg>
	</bean>

	<bean id="protegeJdbcUsername" class="java.lang.String">
		<constructor-arg>
			<value>@protegejdbcusername@</value>
		</constructor-arg>
	</bean>

	<bean id="protegeJdbcPassword" class="java.lang.String">
		<constructor-arg>
			<value>@protegejdbcpassword@</value>
		</constructor-arg>
	</bean>

	<bean id="protegeTablePrefix" class="java.lang.String">
		<constructor-arg>
			<value>@protegetableprefix@</value>
		</constructor-arg>
	</bean>

	<bean id="protegeTableSuffix" class="java.lang.String">
		<constructor-arg>
			<value>@protegetablesuffix@</value>
		</constructor-arg>
	</bean>

	<bean id="protegeBigFileThreshold" class="java.lang.Integer">
		<constructor-arg>
			<value>@protegebigfilethreshold@</value>
		</constructor-arg>
	</bean>
</beans>