####################################################
# Default encoding
####################################################
default.encoding=UTF-8

####################################################
# Default value upon entity creation
####################################################
default.user.password=changeme

####################################################
# OBS Rest URLs
####################################################
obs.rest.virtual.ontology.url=@obsrestbaseurl@/virtual/ontology/
obs.rest.parents.url=@obsrestbaseurl@/parents/
obs.rest.children.url=@obsrestbaseurl@/children/
obs.rest.rootpath.url=@obsrestbaseurl@/rootpath/
obs.rest.siblings.url=@obsrestbaseurl@/siblings/
obs.rest.leafpath.url=@obsrestbaseurl@/leafpath/
obs.rest.allconcepts.url=@obsrestbaseurl@/concepts/

####################################################
# Ontology version on remote sites
####################################################
remote.ontology.version=See Remote Site

####################################################
# Config
####################################################
config.db.ontology.internalVersionNumberStart=1
config.db.ontology.virtualOntologyIdStart=1000
config.db.ontology.ontologyVersionIdStart=10000
config.file.upload.ontology.maxRequestSize=1000000

####################################################
# Uploaded Files
####################################################
bioportal.ontology.filepath=@bioportalontologyfilepath@

####################################################
# Diff Files
####################################################
bioportal.diff.filepath=@bioportaldifffilepath@

####################################################
# Metadata includes path
####################################################
bioportal.metadata.includes.path=@bioportalmetadataincludespath@

####################################################
# Rdf files path
####################################################
bioportal.rdf.filepath=@bioportalrdffilepath@

####################################################
# Notes changes.owl includes path
####################################################
bioportal.notes.changes.includes.path=@bioportalnoteschangesincludespath@

####################################################
# Names of XSLT transformation templates
####################################################
xsl.ontology.findall=@bioportalxsltpath@/ontology_light.xsl
xsl.ontology.view.findall=@bioportalxsltpath@/ontology_view_light.xsl

####################################################
# Status
####################################################
ncbo.status.waiting=1
ncbo.status.parsing=2
ncbo.status.ready=3
ncbo.status.error=4
ncbo.status.notapplicable=5
ncbo.status.deprecated=6

####################################################
# General parameters Constants goes here 
####################################################

param.error=error
param.username=username
param.password=password
param.applicationid=applicationid
param.sessionid=sessionid
param.rootConcept=root

# A mandatory parameter required to be included in 
# all encrypted URL query strings
param.encrypted.mandatory=owmvurhsllhheeddtgkxx

param.value.true=true

####################################################
# HTTP call identifiers
####################################################
http.put=PUT
http.delete=DELETE
http.param.method=method
http.param.userId=userId

####################################################
# entity identifiers
####################################################
entity.userid=userid
entity.conceptid=conceptid
entity.ontologyversionid=ontologyversionid
entity.ontologyVersionid=ontologyVersionId
entity.ontologyid=ontologyid
entity.ontologybean=ontologyBean
entity.ontologyviewbean=ontologyViewBean
entity.ontologymetricsbean=ontologyMetricsBean
entity.userbean=userBean
entity.classbean=classBean
entity.categorybean=categoryBean
entity.groupbean=groupBean
entity.propertybean=propertyBean
entity.instancebean=instanceBean
entity.searchbean=searchBean
entity.notebean=noteBean
entity.appliesto=appliesTo
entity.proposalforchangepropertyvalue=ProposalForChangePropertyValue
entity.proposalforcreateentity=ProposalForCreateEntity
entity.proposalforchangehierarchy=ProposalForChangeHierarchy
entity.page=page
entity.ontologyhitbean=ontologyHitBean
entity.searchresultlist=searchResultList
entity.classbeanresultlist=classBeanResultList
entity.ontologyhitlist=ontologyHitList
entity.usageloggingbean=usageLoggingBean
entity.obs.conceptbean=conceptBean
entity.obs.relationbean=relation
entity.obs.pathbean=path
entity.obs.ontologybean=ontologyBean
entity.obs.semantictypebean=semanticTypeBean
entity.propertyType=property
entity.instanceid=instanceid
entity.subscriptionsbean=subscription
entity.restfulsession=session
entity.securitycontextholder=securityContext
entity.acl=acl

####################################################
# Gene Ontology attributes(artificially created)
####################################################
gene.ontology.title=Gene Ontology
gene.ontology.description=Provides structured controlled vocabularies for the annotation of gene products with respect to their molecular function, cellular component, and biological role. The Gene Ontology consists of three Vocabularies.

####################################################
# Form specific parameters Constants goes here 
####################################################
form.user.dateCreated=dateCreated
form.user.username=username
form.user.password=password
form.user.firstname=firstname
form.user.lastname=lastname
form.user.email=email
form.user.phone=phone
form.user.userId=userid
form.user.ontologyId=ontologyid
form.user.notificationType=notificationtype
form.user.id=id
form.user.ontologyacl=ontologyacl

form.ontology.useracl=useracl
form.ontology.isView=isView
form.ontology.ontologyId=ontologyId
form.ontology.isManual=isManual
form.ontology.versionNumber=versionNumber
form.ontology.versionStatus=versionStatus
form.ontology.filePath=filePath
form.ontology.downloadLocation=downloadLocation
form.ontology.isRemote=isRemote
form.ontology.dateCreated=dateCreated
form.ontology.dateReleased=dateReleased
form.ontology.displayLabel=displayLabel
form.ontology.description=description
form.ontology.abbreviation=abbreviation
form.ontology.format=format
form.ontology.contactName=contactName
form.ontology.contactEmail=contactEmail
form.ontology.homepage=homepage
form.ontology.documentation=documentation
form.ontology.publication=publication
form.ontology.urn=urn
form.ontology.isFlat=isFlat
form.ontology.isFoundry=isFoundry
form.ontology.isMetadataOnly=isMetadataOnly
form.ontology.categoryId=categoryId
form.ontology.groupId=groupId
form.ontology.statusId=statusId
form.ontology.isReviewed=isReviewed
form.ontology.codingScheme=codingScheme
form.ontology.synonymSlot=synonymSlot
form.ontology.preferredNameSlot=preferredNameSlot
form.ontology.documentationSlot=documentationSlot
form.ontology.authorSlot=authorSlot
form.ontology.slotWithUniqueValue=slotWithUniqueValue
form.ontology.preferredMaximumSubclassLimit=preferredMaximumSubclassLimit
form.ontology.targetTerminologies=targetTerminologies
form.ontology.hasView=hasView
form.ontology.viewDefinition=viewDefinition
form.ontology.viewDefinitionLanguage=viewDefinitionLanguage
form.ontology.viewGenerationEngine=viewGenerationEngine
form.ontology.viewOnOntologyVersionId=viewOnOntologyVersionId

####################################################
# Error Msg mapping 
####################################################
msg.error.userNotFound=User Not Found
msg.error.ontologyNotFound=Ontology Not Found
msg.error.conceptNotFound=Concept(s) Not Found
msg.error.ontologyViewNotFound=Ontology View Not Found
msg.error.file.inputFileNotFoundError=Input file does not exist or the size is zero
msg.error.file.outputFileCreationError=Could not create output file
msg.error.noontologyfilessubmitted=No ontology files have been submitted
msg.error.conceptidrequired=Concept Id is a required parameter
msg.error.branchsingleontology=The sub-tree search requires a single ontology id passed in using the ontologyids parameter
msg.error.sourcetargetrequired=The source and target concepts are both required to calculate the path
msg.error.ontologyidinvalid=You must supply a valid ontology id
msg.error.ontologyversionidinvalid=You must supply a valid ontology version id
msg.error.ontologyversionidsinvalid=You must supply at least one valid ontology version id
msg.error.idinvalid=Invalid id parameter specified
msg.error.instanceid=You must supply a valid instance id
msg.error.invalidinstanceid=The id you supplied does not belong to an instance
msg.error.overConceptLimit=The view extractor can only process %CONCEPT_LIMIT% terms. Please select a smaller branch or email support@bioontology.org for assistance.

####################################################
# NOTIFICATION SERVICE
####################################################
notification.mail.from=@notificationemailfrom@

####################################################
# UI URL/PATH
####################################################
ui.url=@uiurl@
ui.path.notes.concept=@uipathnotesconcept@
ui.path.notes.ontology=@uipathnotesontology@
ui.path.notes.individual=@uipathnotesindividual@
ui.path.notes.property=@uipathnotesproperty@

####################################################
# RDF STORES
####################################################
rdf.store.type=@rdfstoretype@
rdf.virtuoso.connection.string=@rdfvirtuosoconnectionstring@
rdf.virtuoso.user=@rdfvirtuosouser@
rdf.virtuoso.password=@rdfvirtuosopassword@
rdf.mysql.store.server.name=@rdfmysqlstoreservername@
rdf.mysql.store.port.number=@rdfmysqlstoreportnumber@
rdf.mysql.store.database.name=@rdfmysqlstoredatabasename@
rdf.mysql.store.user=@rdfmysqlstoreuser@
rdf.mysql.store.password=@rdfmysqlstorepassword@

####################################################
# RDF STORES
####################################################
msg.error.mappingFile=You must supply a valid File

