<?xml version="1.0" encoding="UTF-8"?>
<repositories>
	<repository name="OBO Foundry">
		<username>anonymous</username>
		<password></password>
		<hostname>obo.cvs.sourceforge.net</hostname>
		<module>obo</module>
		<rootdirectory>/cvsroot/obo</rootdirectory>
		<argumentstring></argumentstring>
		<checkoutdir>
			@bioportalresourcepath@/cvscheckout/obofoundry
		</checkoutdir>
		<descriptorlocation>
			@bioportalresourcepath@/cvscheckout/obofoundry/obo/website/cgi-bin/ontologies.txt
		</descriptorlocation>
	</repository>
</repositories>