<?xml version="1.0" encoding="UTF-8"?>
<repositories>
	<repository name="Vaccine Ontology" type="SVN">
		<username>anonymous</username>
		<password></password>
		<hostname>https://vaccineontology.svn.sourceforge.net</hostname>
		<module>vaccineontology</module>
		<rootdirectory>/svnroot/vaccineontology</rootdirectory>
		<argumentstring></argumentstring>
		<checkoutdir>
			@bioportalresourcepath@/cvscheckout/vaccineontology
		</checkoutdir>
		<descriptorlocation>
			@bioportalresourcepath@/cvscheckout/vaccineontology/trunk/src/ontology/ontologies.txt
		</descriptorlocation>
	</repository>

	<repository name="EFO" type="SVN">
		<username>anonymous</username>
		<password></password>
		<hostname>https://efo.svn.sourceforge.net</hostname>
		<module>efo</module>
		<rootdirectory>/svnroot/efo</rootdirectory>
		<argumentstring></argumentstring>
		<checkoutdir>
			@bioportalresourcepath@/cvscheckout/efo
		</checkoutdir>
		<descriptorlocation>
			@bioportalresourcepath@/cvscheckout/efo/trunk/docs/bioportalmetadata/EFO_ontologies.txt
		</descriptorlocation>
	</repository>

	<repository name="HPO" type="SVN">
		<username>anonymous</username>
		<password></password>
		<hostname>https://compbio.charite.de</hostname>
		<module>hpo</module>
		<rootdirectory>/svn/hpo</rootdirectory>
		<argumentstring></argumentstring>
		<checkoutdir>
			@bioportalresourcepath@/cvscheckout/hpo
		</checkoutdir>
		<descriptorlocation>
			@bioportalresourcepath@/cvscheckout/hpo/trunk/doc/ontologies_HP.txt
		</descriptorlocation>
	</repository>

	<repository name="OBO Foundry" type="CVS">
		<username>anonymous</username>
		<password></password>
		<hostname>obo.cvs.sourceforge.net</hostname>
		<module>obo</module>
		<rootdirectory>/cvsroot/obo</rootdirectory>
		<argumentstring></argumentstring>
		<checkoutdir>
			@bioportalresourcepath@/cvscheckout/obofoundry
		</checkoutdir>
		<descriptorlocation>
			@bioportalresourcepath@/cvscheckout/obofoundry/obo/website/cgi-bin/ontologies.txt
		</descriptorlocation>
	</repository>

	<repository name="PSI Sourceforge" type="CVS">
		<username>anonymous</username>
		<password></password>
		<hostname>psidev.cvs.sourceforge.net</hostname>
		<module>psi-ms</module>
		<rootdirectory>/cvsroot/psidev</rootdirectory>
		<argumentstring></argumentstring>
		<checkoutdir>
			@bioportalresourcepath@/cvscheckout/psisourceforge
		</checkoutdir>
		<descriptorlocation>
			@bioportalresourcepath@/cvscheckout/psisourceforge/psi/psi-ms/mzML/controlledVocabulary/psi-ms_ontology.txt
		</descriptorlocation>
	</repository>
</repositories>